@import "../../styles/partials/variables";
@import "../../styles/partials/mixin";
@import "../../styles/partials/extend";

.addNews {
    @extend %section;

    .title {
        h2 {
            margin: 0 0 20px;
            font-family: "Montserrat-SemiBold", sans-serif;
            @include Font($f-s: 20px, $l-s: 1px);
        }
    }

    .author {
        @extend %author;
        justify-content: space-between;

        .exit {
            a {
                color: var(--color);
            }
        }
    }

    .formContent {

        input[type=text],
        select,
        textarea {

            padding: 10px;
            border: 1px solid var(--border-color);
            background-color: var(--btn-bg);
            color: var(--input-color);
            border-radius: 6px;
            outline: none;
        }

        input[type=text] {
            display: inline-block;
            width: 100%;

            &.active {
                border-color: $clr_second;
            }
        }

        select {
            cursor: pointer;

            &.active {
                border-color: $clr_second;
            }
        }

        .checkBox {
            user-select: none;
            position: relative;
            cursor: pointer;
            padding: 0 0 0 25px;
            margin: 0 25px 0 0;

            input {
                appearance: none;

                &:checked {
                    &~span {
                        opacity: 1;

                        &::after {
                            display: block;
                        }
                    }
                }

                &:hover {
                    &~span {
                        opacity: .5;
                    }
                }
            }

            span {
                position: relative;
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
                background-color: #303030;
                opacity: .3;

                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 5px;
                    height: 9px;
                    border: solid #fff;
                    border-width: 0 3px 3px 0;
                    transform: translate(-50%, -50%) rotate(45deg);
                    display: none;
                }
            }
        }

        .count {

            padding: 0 0 0 35px;

            span {
                color: $clr_third;
                margin: 0 26px 0 10px;
            }

            &.active {
                span {
                    color: $clr_second;
                }
            }
        }

        .info {
            line-height: 26px;
            span {
                color: $clr_third;
                padding: 0 5px 0;
                margin: 0 5px 0;
                background-color: var(--color);
                color: var(--second-color);
            }
        }

        textarea {
            width: 100%;
            resize: none;
            margin: 15px 0;

            &.active {
                border-color: $clr_second;
            }
        }

        .btn {
            @include Flex($j-c: flex-end, $a-i: center);

            &.warning {
                justify-content: space-between;
            }

            span {
                display: block;
                @extend %message;
            }

            button {
                padding: 8px 20px;
                border: 1px solid var(--bs-body-color);
                border-radius: 10px;
                background-color: #232323;
                color: #f2f2f2;

                &:hover {
                    opacity: .9;
                }
            }
        }
    }
}