@import "./partials/variables";
@import "./partials/extend";
@import "./partials/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: normal;
}

:root {
  --hd-top: #353535;
  --border-color: rgba(53, 53, 53, 0.3);
  --second-border-color: #eaeaea;
  --btn-bg: #fefefe;
  --important: #f2f2f2;
  --second-btn-bg: #0000000d;
  --second-color: #f2f2f2;
  --second-bg: #fbfbfb;
  --third-bg: #fbfbfb;
  --fourth-btn-bg: #f6f6f6;
  --btn-hover: #f6f6f6;
  --input-color: #353535;
  --count-color: #008800;
}

body {
  font-family: "Montserrat-Medium", sans-serif;
  position: relative;
  --bs-body-color: #fefefe;
  --color: #353535;

  background-color: var(--bs-body-color);
  color: var(--color);

  ::selection {
    background-color: var(--color);
    color: var(--btn-bg);
  }

  &.active {
    --bs-body-color: #0f0f0f;
    --color: #fefefe;
    --hd-top: #ffffff1a;
    --border-color: rgb(254, 254, 254, 0.3);
    --second-border-color: rgba(234, 234, 234, .2);
    --btn-bg: #1a1a1a;
    --important: #1a1a1a;
    --second-btn-bg: #ffffff1a;
    --second-color: #353535;
    --second-bg: #ffffff0d;
    --third-btn-bg: #353535;
    --fourth-btn-bg: #fbfbfb33;
    --btn-hover: #303030;
    --input-color: #fbfbfb91;
    --count-color: #00ff00;
  }
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.type {
  font-size: 11px;
  padding: 2px 6px;
  margin: 0 5px 0 0;
  background-color: $clr_primary;
  color: #fff;

}

.iconLock {
  margin: 0 0 0 3px;

  &:after {
    font-family: "fontello";
    display: inline-block;
    content: "\01F512";
  }
}

.p-x {
  --bs-gutter-x: 15px;
  padding: 0 var(--bs-gutter-x) 0 var(--bs-gutter-x);
}

.pm-0 {
  padding: 0;
  margin: 0;
}

.row {
  --bs-gutter-x: 15px;
  margin-left: calc(-1 * var(--bs-gutter-x));
  margin-right: calc(-1 * var(--bs-gutter-x));

}

.loading {
  @include Flex ($j-c: center, $a-i: center);
  height: 100vh;
  margin: 0 auto;
}

.notFound {

  .wrapper {
    height: 100vh;

    .box {
      text-align: center;
      width: 450px;
      height: 300px;
    }

    @include Flex($a-i: center, $j-c: center);
    user-select: none;

    h1 {
      font-family: "Montserrat-ExtraBold", sans-serif;
      @include Font($f-s: 110px, $l-s: 10px);

      @include screenSize(mobil) {
        font-size: 180px;
      }
    }

    h2 {
      font-family: "Montserrat-Medium", sans-serif;
      @include Font($f-s: 24px, $l-h: 1.2, $f-w: 500);

      @include screenSize(mobil) {
        font-size: 28px;
      }
    }
  }
}


@font-face {
  font-family: "Montserrat-Bold";
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.currencies {
  position: relative;
  overflow: hidden;

  li {

    a {
      @extend %headerTop;
      display: block;
      padding: 0 0 0 5px;
    }
  }
}

@keyframes currencyAnimation {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}