@import "../../styles/partials/variables";
@import "../../styles/partials/extend";
@import "../../styles/partials/mixin";


.newsContent {
    @extend %section;

    .title {
        @extend %titleGlobal;
    }

    .catDate {
        margin: 15px 0 20px;
        @include Flex($j-c: space-between);

        .category {
            a {
                @extend %categoryFrame;
                color: var(--color);
                border-color: var(--color);
                @include Font($f-s: 12px, $l-s: 2px);
            }
        }

        .date {
            @extend %date;
            font-size: 14px;
            justify-items: flex-end;
        }
    }

    .content {
        font-family: "Montserrat-Medium", sans-serif;

        p {
            @include Font($l-h: 26px, $l-s: .6px);
            margin: 0 0 25px;
        }

        .image {
            margin: 0 0 25px;

            img {
                @extend %img;
            }
        }

        .gallery {
            @include Flex($f-w: wrap, $g: 6px);

            .galleryImg {
                width: 23.2%;

                img {
                    @extend %img;
                }
            }
        }
    }

    .contact {
        padding: 12px 15px;
        margin: 25px 0 25px;
        background-image: linear-gradient(to right, rgba(37, 211, 102, .9), rgba(37, 211, 102, .5), rgba(37, 211, 102, .2));
        @include Flex($a-i: center, $c-g: 10px);
        border-radius: 3px;

        a {
            color: #fff;
        }

        .icon {
            a {
                i {
                    @include Font ($f-s: 26px, $l-h: 26px);
                }
            }
        }

        .text {
            width: 100%;

            a {
                font-family: "Montserrat-Medium", sans-serif;
                @include Font($f-s: 17px, $l-h: 26px, $l-s: .6);
                display: block;

                &:hover {
                    text-decoration: underline;
                }

            }
        }
    }

    hr {
        color: var(--color);
        opacity: .2;
        margin: 40px 0 30px;
    }

    .shareAuthor {
        @include Flex($j-c: space-between, $f-w: wrap, $r-g: 8px);

        .shareIcons {
            @include Flex($c-g: 10px, $f-w: wrap);

            a {
                @include Flex($j-c: center, $a-i: center);
                color: #fff;
                width: 38px;
                height: 38px;
            }

            li {
                &:nth-child(1) {
                    a {
                        background-color: #45629f;
                    }
                }

                &:nth-child(2) {
                    a {
                        background-color: #25d366;
                    }
                }

                &:nth-child(3) {
                    a {
                        background-color: #0088cc;
                    }
                }

                &:nth-child(4) {
                    a {
                        background-color: #1dcaff;
                    }

                    margin: 0 10px 0 0;
                }

                &:nth-child(5),
                &:nth-child(6) {
                    a {
                        background-color: var(--important);
                        color: var(--color);
                    }
                }
            }
        }

        .author {
            @extend %author;
            column-gap: 7px;
        }
    }

    .ad {
        height: 395px;
    }
}