@import "../../styles/partials/variables";
@import "../../styles/partials/mixin";
@import "../../styles/partials/extend";

.newsCards {    
    @include Flex($f-d: column, $j-c: space-between);
   height: 100%;
    .bigNewsCard {
        width: 100%;

        .image {
            img {
                @extend %img;
            }
        }

        .info {
            font-family: "Montserrat-SemiBold", sans-serif;

            .newsTitle {
                a {
                    @extend %infoBigCard;                    
                }
            }

            .date {
                @extend %date;
                font-size: 10px;
                color: $clr_grey_text;
            }
        }
    }

    .smallCards {
        @include Flex($j-c: space-between);
        padding: 20px 0 0;       

        .newsCard {
            width: calc(50% - 5px);


            .image {
                img {
                    @extend %img;
                }
            }

            .info {


                .newsTitle {
                    a {
                        @extend %infoSmallCard;

                    }
                }

                .date {
                    @extend %date;
                    font-size: 10px;
                    color: $clr_grey_text;
                }
            }
        }
    }
}