@import "../../styles/partials/variables";
@import "../../styles/partials/extend";
@import "../../styles/partials/mixin";

.allNews {
    @extend %section;
    position: relative;

    .wrapper {
        .title {
            @include Flex($j-c: space-between);

            &.active {
                display: none;
            }

            @extend %titleGlobal;

            .addNews {
                @include Flex($f-w: wrap, $g: 5px);

                &.active {
                    display: none;
                }

                button {
                    font-family: "Montserrat-SemiBold", sans-serif;
                    transition: all .4s;

                    padding: 10px 15px;
                    display: block;
                    border: 1px solid #1a1a1a;
                    background-color: var(--btn-bg);
                    color: var(--color);

                    &:hover {
                        background-color: var(--color);
                        color: var(--btn-bg);
                    }
                }
            }
        }

        .filter {
            &::-webkit-scrollbar {
                height: 6px;
            }

            @extend %filters;
            @extend %customScroll;

            &.active {
                display: none;
            }

        }

        .contentWrapper {
            .content {
                padding: 20px 14px;
                @include Flex($f-d: column, $r-g: 8px, $a-i: center);
                @extend %contentType;

                @include screenSize(mobil) {
                    flex-direction: row;
                }

                .info {
                    padding: 0;

                    @include screenSize(mobil) {
                        padding: 0 0 0 30px;
                    }

                    .newsTitle {
                        a {
                            font-size: 18px;
                            @extend %newsTitle;
                        }
                    }

                    .date {
                        @extend %date;
                        font-size: 12px;
                    }
                }                
            }
        }
    }

    .errorTitle {
        h2 {
            @include Font($f-s: 16px, $l-s: 1px);

            @include screenSize(mobil) {
                font-size: 20px;
                color: var(--color);
            }
        }

        margin: 0 0 20px;
    }
}