@import "../../styles/partials/variables";
@import "../../styles/partials/extend";
@import "../../styles/partials/mixin";

.allLatestNews {
    @extend %section;

    .wrapper {
        .title {
            @include Flex($j-c: space-between);
            h1 {
                @extend %titleGlobal;
            }

            .addNews {
                a {
                    font-family: "Montserrat-SemiBold", sans-serif;
                    display: block;
                    padding: 10px 15px;
                    color: $clr_primary;
                    border: 1px solid $clr_primary;

                    &:hover {
                        background-color: $clr_primary;
                        color: #fff;
                    }
                }
            }
        }

        .filter {
            @extend %filters;
        }

        .contentWrapper {
            .content {
                padding: 20px 14px;
                @include Flex();
                @extend %contentType;

                .info {
                    padding: 0 0 0 30px;

                    .newsTitle {
                        a {
                            font-size: 18px;
                            @extend %newsTitle;
                        }
                    }

                    .date {
                        @extend %date;
                        font-size: 12px;
                        color: $clr_grey_text;
                    }
                }
            }
        }

    }
}