@import "../../styles/partials/variables";
@import "../../styles/partials/mixin";
@import "../../styles/partials/extend";


.wrapper {
    display: flex;
    flex-flow: column;

    .title {
        @extend %titleMain;

        a {
            color: #000;
        }
    }

    .contentWrapper {
        height: 1820px;
        margin: 0 0 20px;
        overflow-y: scroll;

        &::-webkit-scrollbar{
            width: 6px
        }

        @extend %customScroll;        

        .content {
            padding: 15px 10px;

            @include Flex($c-g: 20px, $a-i: center);

            @extend %contentType;

            .time {
                color: $clr_grey_text;

                span {
                    display: inline-block;
                    width: 50px;
                }
            }

            .info {
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                .newsTitle {
                    a {
                        @extend %newsTitle;
                        margin: 0 0 7px;
                    }
                }

                .category {
                    @extend %category;
                }
            }
        }
    }

    .btnAllNews {
        a {
            font-family: "Montserrat-Bold", sans-serif;
            font-size: 13px;
            padding: 18px 25px;
            display: block;
            color: $clr_primary;
            position: relative;
            background-color: #fbfbfb;
            transition: all 0.2s;

            &:hover {
                background-color: #f6f6f6;
            }

            &::after {
                font-family: "fontello";
                content: "\f178";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 25px;

            }
        }
    }

}