@import "../../styles/partials/mixin";
@import "../../styles/partials/extend";

.videoNews {
    margin: 20px 0 0;

    .title {
        @extend %titleMain;
    }

    .wrapper {

        .mySwiper {

            .swiper-slide {
                width: 100%;

                iframe {
                    width: 100%;

                }
            }

            .swiper-pagination {
                margin: 10px 0 10px;
                position: relative;
                .swiper-pagination-bullet {
                    width: 10px;
                    height: 10px;
                    margin: 0 7px;
                    background-color: #000;
                }
            }
        }
    }
}