@import "../../styles/partials/extend";

.newsCategory {
    @extend %section;

    .title {
        h1 {
            @extend %titleGlobal;
        }
    }

    .filter {
        @include Flex($c-g: 15px);
        width: 100%;
        margin: 0 0 25px;
        padding: 0 0 10px;
        overflow-x: scroll;
        user-select: none;

        &::-webkit-scrollbar {
            height: 6px;
        }

        @extend %customScroll;

        li {
            flex-grow: 1;

            a {
                font-family: "Montserrat-Bold", sans-serif;
                display: block;
                padding: 5px 30px;
                height: 50px;
                @include Font($f-s: 14px, $l-s: 1px);
                @include Flex($j-c: center, $a-i: center);
                border: 1px solid #a4a4a4;
                color: $clr_primary;
                transition: all 0.2s;
                text-wrap: nowrap;

                &:hover {
                    background-color: $clr_primary;
                    color: #fff;
                }
            }
        }
    }

    .card {
        .image {
            height: 205px;

            img {
                @extend %img;
            }
        }

        .info {
            font-family: "Montserrat-SemiBold", sans-serif;

            .newsTitle {
                a {
                    @extend %infoBigCard;
                }
            }

            .date {
                @extend %date;
                font-size: 12px;
                color: $clr_grey_text;
            }
        }
    }
}