@import "../../styles/partials/extend";

.newsCategory {
    @extend %section;

    .title {
        @extend %titleGlobal;
    }

    .filter {
        &::-webkit-scrollbar {
            height: 6px;
        }

        @extend %customScroll;
        @extend %filters;
    }

    .card {
        position: relative;

        .image {
            height: 205px;
            position: relative;

            img {
                @extend %img;
            }

            .overlay {
                position: absolute;
                inset: 0;
                background-color: #1e1e1e59;

                &.active {
                    display: none;
                }
            }
        }

        .info {
            font-family: "Montserrat-SemiBold", sans-serif;

            .newsTitle {
                a {
                    @extend %infoBigCard;
                }
            }

            .date {
                @extend %date;
                font-size: 12px;
            }
        }

        .edit {
            position: absolute;
            right: 10px;
            top: 10px;
            height: 20px;
            overflow: hidden;

            li {
                margin: 0 0 5px;

                i {
                    font-size: 18px;
                    color: #fff;
                    opacity: 0.5;
                }

                button {
                    border: none;
                    background-color: transparent;
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    i {
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }

                &:nth-child(2) {
                    i {
                        &:hover {
                            color: #ffcc00;
                        }
                    }
                }

                &:nth-child(3) {
                    i {
                        &:hover {
                            color: $clr_second;
                        }
                    }
                }
            }

            &.active {
                height: auto;
            }

            &.notUser {
                display: none;
            }
        }
    }
}